@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;600&family=Oswald:wght@200;400;600&family=Poppins:wght@100;300;400;600;800&family=Roboto:wght@100;300;400;700&display=swap');

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    /* colors rg */

    --background: #111113;
    --btn: #1e50ff;
    --btn2: #8DB1DA;
    --rojo: #dc4424;
    --amarillo: #d6bb33;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    }

/* ==========BARRA DE INICIO=========== */
nav {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

ul {
    list-style:none;
    display:flex;
    gap:25px;
    text-decoration: none;   
}

ul a {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 120px;
    text-transform: uppercase;
    font-size: 11px;
}

/* ==========DESCRIPTION SECTION=========== */


.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    font-family: 'Poppins', sans-serif;
}

.imagen {
    height: 300px;
    border-radius: 30px;
}

.hero-info {
    padding: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-info h1{
    font-weight: 2000px;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--background);
}

.hero-info p{
    font-style: italic;
    color:grey;
    font-size: 15px;
    font-weight: 400;
    width: fit-content;
}

.div-botones{
    display:flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.boton {
    padding: 2px 30px;
    text-decoration: none;
    border-radius: 15px;

}

.primario {
    background-color: var(--btn);
    color: azure;
    font-weight: 400;

}

.secundario {
    background-color: var(--btn2);
    color: azure;
    border: var(--btn);
    border-width: 10px;
    font-weight: 400;
}

.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  
  .parrafo {
    text-align: center;
    color: grey;
    font-size: 15px;
    width: fit-content;
  }


/* ==========BENEFITS=========== */

.benefits {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    font-family: 'Poppins', sans-serif;

}

.card-benefits {
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.card-benefits img {
    height: 80px;
    width: 80px;
    border-radius: 50px 50px;
}
.card {
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
    height: 30%;
    width: 30%;
}

.card h3 {
    color:white
}

.card p{
    color: #d6bb33;
}

/* ==========CONTACT SECTION=========== */

section {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;  
}

.contact h2{
    color: var(--background);
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.contact-container {
    display: flex;
    color: var(--background);
    gap: 50px;
    align-items: top;
    justify-content: center;
    font-family: poppins;
}

.contact1 {
    display: flex;
    gap:20px;
    flex-direction: column;
}

.contact-container ul {
    display: flex;
    flex-direction: column; 
}

.list-container {
    display: flex;
    flex-direction: row;
    gap:10px;
    font-size: 12px;
}

.contact-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-logo img{
    height: 20px;
    width: 20px;
}

.mapa{
    height: 50%;
    width: 50%;
    border-radius: 30px;
}

/* ==========FOOTER=========== */

footer {
    background-color: var(--background);
    color: white;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
}

.foot {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: end;
}

.foot img {
    height: 30px;
    width: 30px;
}

/* ====MEDIA QUERIES=== */

/* ========576========= */

@media (min-width: 576px) {
 .info-container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
 }    

 .secundario {
    width: 180px;
 }

 .card-benefits {
    display: flex;
    flex-direction: column;
 }

 .card {
    width: 300px;
 }

 .contact {
    display: flex;
    flex-direction: column;
 }

}

/* ========768========= */
@media(min-width: 768px) {

}

/* ========992========= */
@media(min-width: 992px) {
    .info-container {
        display:flex;
        text-align: center;
    }
}

@media(min-width: 1200px) {
    .info-container {
        display: flex;
        flex-direction: row;
        text-align:start;
    }

    .card-benefits {
        display: flex;
        flex-direction: row;
}

.card {
    width: 350px;
 }

 .contact {
    display: flex;
    flex-direction: row
 }

}